<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="healthchecks-api-url" value="https://healthchecks.io/api/v1/"/>
    <add key="healthchecks-api-docs" value="https://healthchecks.io/docs/api/"/>
    <add key="healthchecks-api-key" value=""/>
    <add key="healthtray-salt" value=""/>
    <add key="refresh-seconds" value="120"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>